<%= form_with(model:@task, local:true) do |form| %>
  <% if @task.errors.any? %>
    <div id= "error_explanation">
      <h2>
        <%= @task.errors.count%><%= t('view.form.count') %>
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title %><br>
  <%= form.text_field :title %><br>

  <%= form.label :content %><br>
  <%= form.text_field :content %><br>

  <%= form.label :expired_at %><br>
  <%= form.date_field :expired_at %><br>

  <%= form.label :status %><br>
  <%= form.select :status, Task.statuses.keys.to_a, include_blank: true %><br>

  <%= form.label :priority %><br>
  <%= form.select :priority, Task.priorities.keys.to_a, include_blank: true %><br>

  <%= form.label :label %><br>
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %><br>
  <%# Label.all.each do |label| %>
  <%#= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
  <%#= label.name %>
  <%# end %>

  <%= form.submit %><br>

<% end %>