<h1><%= t('view.task.index.page_title') %></h1>

<%= form_with(url:tasks_path, scope: :task, local:true, method: :get) do |form| %>
  <%= form.label :title, t('view.task.index.title') %>
  <%= form.text_field :title %><br>
  <%= form.label :status, t('view.task.index.status') %>
  <%= form.select :status, Task.statuses.keys.to_a, include_blank: true %><br>
  <%= form.label :label, t('view.task.index.label') %>
  <%= form.select :label_id, Label.pluck(:name, :id), include_blank: true , id: "label_btn"%><br>
   <%#= f.select :person_id, Person.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  <%= form.submit t('view.task.index.search')%>
<% end %>
<br>
<p class= "btn btn-primary btn-sm"><%= link_to t('view.task.new.page_title'), new_task_path %></p>


<table class="table">
  <tr>
    <th><%= t('view.task.index.user_name') %></th>
    <th><%= t('view.task.index.title') %></th>
    <th><%= t('view.task.index.content') %></th>
    <th>
      <%= link_to "終了期限", tasks_path(sort_expired: "true")%>
    </th>
    <th><%= t('view.task.index.status') %></th>
    <th>
      <%= link_to "優先順位", tasks_path(sort_priority: "true")%>
    </th>
    <th><%= t('view.task.index.label') %></th>
  </tr>
  

<% @tasks.each do |task|%>
  <% if task.user == @current_user %>
    <tr class = "task_row">
      <td><%= task.user.name %></td>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.expired_at %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td>
        <% task.labels.each do |label| %>
          <%= label.name %>
        <% end %>
      </td>
      <td class = "btn">
        <label class = "btn btn-secondary btn-sm"><%= link_to t('view.task.show.page_title'), task_path(task.id) %></label>
        <label class = "btn btn-info btn-sm"><%= link_to t('view.task.edit.page_title'), edit_task_path(task.id) %></label>
        <label class = "btn btn-danger btn-sm"><%= link_to t('view.task.destroy.page_title'), task_path(task.id), method: :delete %></label>
      </td>
    </tr>
  <% end %>
<% end %>

</table>

<%= paginate @tasks %>
<br>
<p class= "btn btn-primary"><%= link_to t('view.task.index.page_title'), tasks_path %></p>

<style>
.btn a{
  color:white;
}
</style>