<h1><%= t('view.index.name') %></h1>

<p id="notice"><%= notice %></p>

<p><%= link_to t('view.new.name'), new_task_path %></p>

<table>
  <tr>
    <th><%= t('view.index.title') %></th>
    <th><%= t('view.index.content') %></th>
  </tr>

  <% @tasks.each do |task| %>  
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td>
        <%= link_to t('view.show.name'), task_path(task.id) %>
        <%= link_to t('view.edit.name'), edit_task_path(task.id) %>
        <%= link_to t('view.destroy.name'), task_path(task.id), method: :delete %>
      </td>
    </tr>
  <% end %>  
</table>
