<h1>一覧</h1>

<p id="notice"><%= notice %></p>

<p><%= link_to "新規作成", new_task_path %></p>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>

  <% @tasks.each do |task| %>  
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td>
        <%= link_to "詳細", task_path(task.id) %>
        <%= link_to "編集", edit_task_path(task.id) %>
        <%= link_to "削除", task_path(task.id), method: :delete %>
      </td>
    </tr>
  <% end %>  
</table>
