<h1><%= t('view.index.name') %></h1>

<p id="notice"><%= notice %></p>
<%= form_with(url:tasks_path, scope: :task, local:true, method: :get) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :status %>
  <%= form.select :status, Task.statuses.keys.to_a, include_blank: true %>
  <%= form.submit t('view.index.search')%>
<% end %>

<p><%= link_to t('view.new.name'), new_task_path %></p>

<table>
  <tr>-
    <th><%= t('view.index.title') %></th>
    <th><%= t('view.index.content') %></th>
    <th>
      <%= link_to "終了期限", tasks_path(sort_expired: "true")%>
    </th>
    <th><%= t('view.index.status') %></th>
  </tr>

  <% @tasks.each do |task|%>
    <tr class = "task_row">
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.expired_at %></td>
      <td><%= task.status %></td>
      <td>
        <%= link_to t('view.show.name'), task_path(task.id) %>
        <%= link_to t('view.edit.name'), edit_task_path(task.id) %>
        <%= link_to t('view.destroy.name'), task_path(task.id), method: :delete %>
      </td>
    </tr>
  <% end %>  
</table>

<p><%= link_to t('view.index.name'), tasks_path %></p>
