<h1><%= t('view.show.name') %></h1>

<p>
  <strong><%= t('view.index.title') %></strong>
  <br>
  <%= @task.title %>
</p>
<p>
  <strong><%= t('view.index.content') %></strong>
  <br>
  <%= @task.content %>
</p>
<p>
  <strong><%= t('view.index.expired') %></strong>
  <br>
  <%= @task.expired_at %>
</p>

<%= link_to t('view.edit.name'), edit_task_path(@task.id) %> | 
<%= link_to t('view.other.back'), tasks_path %> 