<h1>ユーザー新規作成</h1>

<%= form_with(model:@user,url:admin_users_path, local:true) do |form| %>
  <% if @user.errors.any? %>
    <div id= "error_explanation">
      <h2>
        <%= @user.errors.count%>
          <%= t('view.form.count') %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <%= form.label :name %><br>
  <%= form.text_field :name %><br>

  <%= form.label :email %><br>
  <%= form.email_field :email %><br>

  <%= form.label :password %><br>
  <%= form.password_field :password %><br>

  <%= form.label :password_confirmation %><br>
  <%= form.password_field :password_confirmation %><br>

  <%= form.label :admin %><br>
  <%= form.check_box :admin %><br>

  <%= form.submit %><br>

<% end %>