<h1><%= @user.name %>のページ</h1>

<p>
  <strong><%= t('view.user.show.user_name') %></strong>
  <br>
  <%= @user.name %>
</p>
<p>
  <strong><%= t('view.user.show.email') %></strong>
  <br>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('view.user.show.admin') %></strong>
  <br>
  <%if @user.admin? %>
    <p>あり</p>
  <% else %>
    <p>なし</p>
  <% end %>
</p>

<%= link_to t('view.user.admin.index.page_title'), admin_users_path %>